@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #EAF4FB;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
}

/* navbar */
.navbar {
    background-color: #EAF4FB;
    display: flex;
    padding: 5px 0;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar .hamburger-btn {
    display: none;
    color: #17206D;
    cursor: pointer;
    font-size: 1.5rem;
    width: 30px;
    padding-left: 10px;
}

.navbar .logo {
    gap: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 3%;
}

.navbar .logo img {
    width: 60px;
}

.navbar .logo h2 {
    color: #17206D;
    font-weight: 550;
    font-size: 1.1rem;
}

.navbar .links {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.navbar .links a {
    color: #17206D;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: 0.1s ease;
}

.navbar a.active {
    border-bottom: 2px solid #17206D;
    transition: border-bottom 0.1s ease;
}


.navbar .links a:hover {
    color: #17206d75;
}


.navbar .login-btn {
    border: none;
    outline: none;
    background: #17206D;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.15s ease;
}

.navbar .login-btn:hover {
    background: #17206d75;
}

/* pop up login */
.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background: #fff;
    border: 2px solid #17206D;
    transform: translate(-50%, -70%);
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #17206D;
    cursor: pointer;
    font-weight: bold;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    width: 100%;
    color: #fff;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .form-details {
    padding: 0 40px;
    background: url("../images/denture fiting.jpg");
    background-position: center;
    background-size: cover;
}

.signup .form-details {
    padding: 0 20px;
    background: url("../images/tooth cleaning.jpg");
    background-position: center;
    background-size: cover;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #717171;
    border-radius: 3px;
}

.input-field input:focus {
    border: 1px solid #17206D;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #17206D;
    font-size: 0.75rem;
}

.form-box a {
    color: #17206D;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
    display: inline-flex;
    margin-top: 13px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #17206D;
    transition: 0.2s ease;
}

form button:hover {
    background: #17206d75;
}

.form-content .bottom-link {
    text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}

.signup .policy-text {
    display: flex;
    margin-top: 14px;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

/* Main Content */

/* .about-us */
.about-us h1{
    font-weight: bold;
    font-size: 40;
}
.about-us h2 {
    font-weight: lighter;
    font-size: 25px;
}

.about-us {
    font-size: 20px;
    padding-top: 200px;
    padding-right: 300px;
    padding-left: 300px;
    background-color: #EAF4FB;
    padding-bottom: 100px;
}

.about-us p {
    font-size: 15px;
}


.our-services {
    background-color: #fff;
    align-items: center;
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-between;
}

.service-provide h1 {
    background-color: #fff;
    font-weight: bold;
    font-size: 40;
    text-align: center;
    align-items: center;
    padding: 50px;
}

.our-services-gambar img {
    padding: 30px;
    text-align: right;
    flex: 1;
    width: 350px;
}
.our-services-text {
    
    flex: 2;
    padding-left: 20px;
    line-height: 1.5;
}

.our-services-text h3{
    padding-bottom: 10px;
}

/* our team */


.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    background-color: #fff;
    
  }
  .row {
    padding-bottom: 200px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    align-items: center;
  }

  .card img {
    width: 200px;
    border-radius: 50%;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    color: black;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


/* Footer */

.footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1280px;
    width: 100%;
    background: #10182F;
    border-radius: 6px;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
}

.footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer-col .links li a:hover {
    color: #fff;
}

.logo-container {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; 
    border-radius: 35%;
}

.logo-container img{
    max-width: 100px;
    max-height: 100px;

}


.footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #7489C6;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: #ccc;
}

.footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

.footer-col form button:hover {
    background: #cecccc;
}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: #afb6c7;
}

.footer-col .icons i:hover {
    color: #fff;
} 

/* Responsive */

@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }
    
    .navbar {
        padding: 15px 0;
    }
    
    .navbar .logo img {
        display: none;
    }

    .navbar .logo h2 {
        font-size: 1.4rem;
    }

    .navbar .links {
        position: fixed;
        top: 0;
        z-index: 10;
        left: -100%;
        display: block;
        height: 100vh;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        background: #fff;
        transition: 0.2s ease;
    }

    .navbar .links.show-menu {
        left: 0;
    }

    .navbar .links a {
        display: inline-flex;
        margin: 20px 0;
        font-size: 1.2rem;
        color: #000;
    }

    .navbar .links a:hover {
        color: #17206d75;
    }

    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}


@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }
    
    .form-box .form-details {
        display: none;
    }
    
    .form-box .form-content {
        padding: 30px 20px;
    }


    @media (max-width: 768px) {
        .footer {
            position: relative;
            bottom: 0;
            left: 0;
            transform: none;
            width: 100%;
            border-radius: 0;
        }


        .footer .footer-row {
            padding: 20px;
            gap: 1rem;
        }

        .footer-col form {
            display: block;
        }

        .footer-col form :where(input, button) {
            width: 100%;
        }

        .footer-col form button {
            margin: 10px 0 0 0;
        }
    }
}