/* Style untuk tombol */
.custom-button {
  background-color: #3498db; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  border: none; /* Hapus border */
  padding: 10px 20px; /* Ruang di dalam tombol */
  font-size: 16px; /* Ukuran teks */
  cursor: pointer; /* Ubah kursor saat mengarahkan ke tombol */
  border-radius: 5px; /* Bentuk sudut tombol */
}

/* Style saat mengarahkan kursor ke tombol */
.custom-button:hover {
  background-color: #2980b9;
}
